.datamodifier-holder{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.206);
    padding: 50px;
    margin: 20px;
    border-radius: 30px;
    width: 100%;
}

.modifier-function-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mode-picker-control-panel{
    width: 20vw;
}

.dateTimepicker-control-panel{

}

.date-modifier-sections{
    align-self: center;
}

.action-btn{
    display: flex !important;
    flex-direction: inherit !important;
}

.tick-notifier{
    background-color: green !important;
    color: white;
    transition: 0.5s;
    opacity: 0;
}

.data-handler-button{
    position: relative;
    padding: 20px;
    color: white;
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 0;
    margin: 0.5em;
}

.count-selected-data-handler-holder{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #ea0505;
    width: 25px;
    height: 25px;
    border-radius: 100px;
}

.count-selected-data-handler{
    font-weight: bolder;
    font-size: 15px;
}

.limit-holder{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #76B4FF;
    padding: 1rem;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    justify-content: center;
    align-items: center;
    width: 15%;
}

#modifier-error-holder{
    position: absolute;
    bottom: 1em;
    font-weight: bolder;
}

.with-side-element{
    
}

.limit-input{
    background-color: transparent;
    border: none !important;
    width: 45%;
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.limit-input:focus{
    outline: none !important;
    border: none !important;
}

.limit-input:active{
    outline: none !important;
    border: none !important;
}

.limit-text{
    color: white;
    font-weight: bolder;
    font-size: 2em;
}

.inner{
    font-size: 2em;
}

.table-header-handle-data{
    background-color: transparent;
    color: black;
}

.table-handle-data{
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
  border-spacing: 0 0.75em;
}

.table-header-handle-data > tr > td, .table-body-handle-data > tr > td{
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 1.5em;
    padding-right: 1.5em;
   text-align: left;

}

.table-header-handle-data > tr > td{
    padding-top: 3.75em;
}

.table-body-handle-data > tr{
    background-color: white;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-radius: 10px;
}


.table-handle-data-holder{
}

.table-body-handle-data{

}

.value-editor{
    border: none;
    outline: none;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.249);
    border-radius: 20px;
}

.dia{
    background-color:#DEBC8C;
}
