.datamodifier-holder{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.206);
    padding: 50px;
    margin: 20px;
    border-radius: 30px;
    width: 100%;
}

.modifier-function-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mode-picker-control-panel{
    width: 20vw;
}

.dateTimepicker-control-panel{

}

.date-modifier-sections{
    align-self: center;
}