.App {
  text-align: center;
}

.block{
  display: block;
}

body * {
  font-family: "Source Sans Pro",sans-serif;
}
.slide-right-left-rightEdge {
  animation: slide-in 1s forwards;
}

.slide-out{
  animation: slide-out 1s forwards;
}

.margin-left-auto{
  margin-left: auto;
}

.margin-right-auto{
  margin-right: auto;
}

.position-relative{
  position: relative;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.position-absolute{
  position: absolute;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}