.section-selector{
    display: block;
    padding: 15px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.01);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
}

.section-selector:hover{
    background-color: rgb(118,180,255);
    color: white;
    cursor: pointer;
}

.section-selector-holder{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    display: flex !important;
    flex-direction: column;
    z-index: 8;
}

.section-selector:first-child{
    border-top-left-radius: 20px;
}

.section-selector:last-child{
    border-bottom-left-radius: 20px;
}