.theme_toggle{
    right: 30px;
    top: 50px;
    padding: 1em;
    border: 3px solid var(--font-color);
    border-radius: 3px;
}
  
.theme_toggle:hover{
  background-color: rgba(0, 0, 0, 0.195);
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.0em;
  background-color: var(--background-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.185);
  padding-right: 4em;
  padding-left: 4em;
}

.logo{
  font-size: 35px;
  font-weight: bold;
  color: rgb(222,188,140);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.logo::first-letter{
  text-transform: capitalize;
}

.links{
  text-decoration: none;
  padding: 1.1em;
  font-size: 2.5ch !important;
  color: black;
  font-size: large;
  font-weight: 500;
  transition: 0.5s;
  transition: border-color 0.5s ease, color 0.5s ease;
}

.logo-container{
  z-index: -1;
  /* background-color: rgb(118,180,255); */
  padding: 0.25em;
}

.active{
  /* background-color: rgb(50, 151, 167); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.181); */
  color: rgb(118,180,255);
  border-bottom: 2px solid rgb(118,180,255);
  border-radius: 0%;
  font-weight: 900;
  transition: 0.5s;
  transition: border-color 0.5s ease, color 0.5s ease;
}

.user-icon{
  position: relative;
  margin-left: 1vw;
}

.userTitle{
  display: inline;
  border-radius: 50%;
  font-size: larger;
  font-weight: 500;
  color: var(--background-color);
  background-color: rgb(222,188,140);
  padding: 0.5em;
}

.userTitle:hover{
  background-color: rgb(204, 172, 127);
  cursor: pointer;
}

.logout{
  position: absolute;
  top: 150%;
  right: 0%;
  z-index: 100;
}

.logout-button{
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  width: 100%;
  float: left;
  text-align: start;
  color: #ffffff;
  border-radius: 5px;
  margin-left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.notification-dot-inner{
  width: 0.5em;
  height: 0.5em;
  border-radius: 200px;
  background-color: red;
  display: none;
  animation: blink 1s infinite;
}

.dropdown-profile-icon{
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: -75%;
  top: 220%;
  padding: 0.5rem;
  height: 3ch;
  width: 100px;
  background-color: #DEBC8C;
  border-radius: 10px;
}

.dropdown-profile-icon .triangle::before{
  content: "";
  position: absolute;
  top: -90%; /* adjust this value to change the triangle position */
  left: calc(50% - 10px); /* adjust this value to change the triangle position */
  border-top: 20px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #DEBC8C;
  z-index: -5;
}

.mobile-menu-bar{
  display: none;
}

.mobile-menu-holder{
  display: none;
  position: absolute;
  height: 100vh;
  width: 45vw;
  z-index: 110;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.249);
  padding: 1em;
  backdrop-filter: blur( 4px );
 -webkit-backdrop-filter: blur( 4px );
 transform: translateX(100%);
 overflow-x: hidden;
}

.mobile-menu-title-holder{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.745);
  margin-bottom: 2em;
}

.menu-inner-btn{
  color: black;
  font-weight: bolder;
  border-radius: 5px;
}

.mobile-menu-holder > button{
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-bottom: 0.5em;
  text-align: left;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-title-holder > button{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 28px;
}


.mobile-menu-title-holder > h1{
  color: rgba(0, 0, 0, 0.407);
  margin-bottom: 0.5em;
}

@media (max-width: 1000px) {
  .links{
    display: none !important;
  }

  .mobile-menu-bar{
    display: inline;
  }

  .user-icon{
    display: none;
  }

  .navbar{
    padding-top: 0.50em;
    padding-bottom: 0.50em;
  }

  .mobile-menu-holder{
    display: block;
  }
}

@media (max-width: 800px) {

  .user-icon{
    display: none;
  }

  .links{
    display: none;
  }

  .navbar{
    padding: 1.75em;
  }

  .logo{
    margin-left: 1em !important;
  }

  .sensor_tab{
    border-radius: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 80vw !important;
    margin-left: auto;
    margin-right: auto;
}

.sensorList{
  margin-left: 1em;
}

  .date-timepicker-holder{
    display: block !important;
    width: 80vw !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .summary-details-holder{
    flex-direction: column;
  }

  .summary-value-view{
    margin-bottom: 0.75em !important;
  }

  .dateTimepicker, .change-live{
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    max-width: none !important;
    margin-left: 0 !important;
  }

  .change-live{
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .chart-switcher-holder{
    flex-direction: column !important;
  }

  .chart-control-container{
    padding-bottom: 5em !important;
  }

  .title{
    font-size: 18px !important;
  }

  .download-control-holder{
    flex-direction: column !important;
  }

  .download-content-holder{
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }

  .download_csv{
    margin-top: 0.75em !important;
  }

  .chart-feature-control{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .chart{
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    margin-bottom: 1em !important;
  }

  .chart-limit > h1{
    font-size: large !important;
  }

  .chartTitle{
    margin-top: 0 !important;
  }

  .notification-panel{
    width: 50vw !important;
    height: 100vh !important;
  }

  .notification-panel-title{
    font-size: 22px;
  }

  .notification-close-button.reload-btn{
    font-size: 28px;
  }

  .live-date-text{
    margin-right: 1em;
  }

}

