.theme_toggle{
    right: 30px;
    top: 50px;
    padding: 1em;
    border: 3px solid var(--font-color);
    border-radius: 3px;
}
  
.theme_toggle:hover{
  background-color: rgba(0, 0, 0, 0.195);
}

.navbar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.0em;
  padding-left: 5em;
  background-color: var(--background-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.185);
  padding-right: 5em;
}

.logo{
  font-size: 35px;
  font-weight: bold;
  color: rgb(222,188,140);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.logo::first-letter{
  text-transform: capitalize;
}

.links{
  text-decoration: none;
  padding: 1.1em;
  font-size: 2.5ch !important;
  color: black;
  font-size: large;
  font-weight: 500;
  transition: 0.5s;
  transition: border-color 0.5s ease, color 0.5s ease;
}

.logo-container{
  z-index: -1;
  /* background-color: rgb(118,180,255); */
  padding: 0.25em;
}

.active{
  /* background-color: rgb(50, 151, 167); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.181); */
  color: rgb(118,180,255);
  border-bottom: 2px solid rgb(118,180,255);
  border-radius: 0%;
  font-weight: 900;
  transition: 0.5s;
  transition: border-color 0.5s ease, color 0.5s ease;
}

.user-icon{
  position: relative;
  margin-right: 10vw;
  margin-left: 1vw;
}

.userTitle{
  display: inline;
  border-radius: 50%;
  font-size: larger;
  font-weight: 500;
  color: var(--background-color);
  background-color: rgb(222,188,140);
  padding: 0.5em;
}

.userTitle:hover{
  background-color: rgb(204, 172, 127);
  cursor: pointer;
}

.logout{
  position: absolute;
  top: 150%;
  right: 0%;
  z-index: 100;
}

.logout-button{
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  width: 100%;
  float: left;
  text-align: start;
  color: #ffffff;
  border-radius: 5px;
  
}

.dropdown-profile-icon{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: -75%;
  top: 220%;
  padding: 0.5rem;
  height: 1.5ch;
  width: 100px;
  background-color: #DEBC8C;
  border-radius: 10px;
}

.dropdown-profile-icon .triangle::before{
  content: "";
  position: absolute;
  top: -110%; /* adjust this value to change the triangle position */
  left: calc(50% - 10px); /* adjust this value to change the triangle position */
  border-top: 20px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #DEBC8C;
  z-index: -5;
}