.notification-panel{
    padding: 1.5em;
    margin-top: -1.75em;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    width: 30vw;
    height: 85vh;
    z-index: 9;
    padding-top: 1em;
    transform: translateX(100%);
    overflow-y: scroll;
}

.notification-panel::-webkit-scrollbar{
    display: none;
}

.notification-panel-title{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

.notification-close-button{
    background-color: transparent;
    border: none;
    font-size: xx-large;
    border-radius: 3px;
}

.individual-message{
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: rgb(205, 205, 205);
    border-radius: 5px;
}

.bottom-space{
    height: 10vh;
    display: block;
}

.clear-notification-button{
    float: right;
    border: none;
    background-color: rgba(0, 0, 0, 0.264);
    padding: 0.75em;
    border-radius: 10px;
}

.reload-btn{
    font-size: 2ch;
    font-weight: 300;
    padding-bottom: 0.2em;
}

.action-container-notification{
    display: flex;
}