@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .thank-you{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate3d(50%, -100%, 0);
    font-size: 19ch;
    text-align: center;
    line-height: 2ch;
    font-family: cursive;
    opacity: 0;
    animation: fadeIn 2s cubic-bezier(0, 0.38, 0.58, 1) forwards;
    color: rgba(0, 0, 0, 0.65);
}


.thank-you-link{
    position: absolute;
    top: 3%;
    right: 3%;
    text-decoration: none !important;
    border-bottom: none;
    font-size: 25px;
}

  